<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="ISO-8859-1">
	<title>Quản lý khóa học</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<script th:src="@{/js/jquery-1.js}"></script>


	<link rel="stylesheet" th:href="@{/css/admin.css}" />

	<link rel="stylesheet" th:href="@{/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script th:src="@{/js/admin/quanLyKhoaHoc.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link th:href="@{/css/adminheader.css}" rel="stylesheet" />

	<style type="text/css">
		.elementcontent {
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			overflow-y: auto;
			display: -webkit-box;
			padding: 20px 40px;
		}
	</style>
</head>

<body>

	<div th:replace="admin/include/header::header"> </div>



	<div class="container-fluid">
		<div class="col-md-1"></div>
		<div class="col-md-10 animated bounce">
			<h3 class="page-header">Quản lý khóa học</h3>
			<button class="btn btn-success btnOpenAddNewCourse" data-toggle="modal" data-target="#courseModal">Thêm
				mới</button>
			<h4 style="color: red" id="info-success"></h4>
			<hr />
			<table class="table table-hover nhanHieuTable" id="tableGrammar">
				<thead>
					<tr>
						<th>ID</th>
						<th style="width:20%">Tên khóa học </th>
						<th style="width:25%">Nội dung</th>
						<th style="width:0%"></th>
						<th style="width:25%">Đối tượng</th>
						<th style="width:20%">Thao tác</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="courseModal" style="background-color: transparent;" tabindex="-1" role="dialog"
			aria-labelleby="myModalLable">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="titleModal">Thêm mới Khóa học</h4>
					</div>

					<div class="modal-body">
						<input style="display:none" id="idCourseModal">

						<div class="row">
							<span class="bg-danger" id="vocab_errors"></span>

							<div class="form-group col-md-6">
								<label>Tên khóa học</label> <input id="nameCourse" class="form-control">

							</div>
							
							<div class="form-group col-md-12">
								<label>Chỉnh sửa nội dung khóa học:</label>

								<textarea rows="7" cols="90" id="CourseContent"></textarea>
							</div>
							<div class="form-group col-md-12">
								<label>Chỉnh sửa đối tượng khóa học:</label>
								<textarea rows="7" cols="90" id="CourseTargetUser"></textarea>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" id="btnAddNewCourse" class="btn btn-primary">Xác nhận</button>
						<button type="button" style="display:none;" id="btnUpdate" class="btn btn-primary">Cập
							nhật</button>
						<button type="button" style="display:none;" id="btnCourseDetail" class="btn btn-primary">
							Chi tiết</button>
					</div>
				</div>
			</div>
		</div>
	</div>




</body>

</html>