<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="ISO-8859-1">
	<title>Quản lý Vocab</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<script th:src="@{/js/jquery-1.js}"></script>


	<link rel="stylesheet" th:href="@{/css/admin.css}" />

	<link rel="stylesheet" th:href="@{/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script th:src="@{/js/admin/quanLyVocab.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 	<link th:href="@{/css/adminheader.css}" rel="stylesheet" />
</head>

<script>

    function showMyImage(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var imageType = /image.*/;
            if (!file.type.match(imageType)) {
                continue;
            }
            var img = document.getElementById("previewImage");
            img.file = file;

            var reader = new FileReader();
            reader.onload = (function (aImg) {
                return function (e) {
                    aImg.src = e.target.result;
                };
            })(img);
            reader.readAsDataURL(file);
        }
    }


</script>

<body>
	<header>
		<div th:replace="admin/include/header::header"> </div>
	</header>


	<div class="container-fluid">
		
		<div class="col-md-1"></div>
		<div class="col-md-10 animated bounce">
			<h3 class="page-header">Quản lý bài hướng dẫn Vocab</h3>
			<button class="btn btn-success btnAddVocab" data-toggle="modal" data-target="#vocabModal">Thêm
				mới</button>
			<h4 style="color: red" id="info-success"></h4>
			<hr />
			<table class="table table-hover nhanHieuTable" id="tableVocab">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tên bài Vocab </th>
						<th>Ảnh</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="vocabModal" style="background-color: transparent;" tabindex="-1" role="dialog"
			aria-labelleby="myModalLable">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="titleModal">Thêm mới bài Vocab</h4>
					</div>

					<div class="modal-body">
						<input style="display:none" id="idVocab">

						<div class="row">
							<span class="bg-danger" id="vocab_errors"></span>

							<div class="form-group col-md-6">
								<label>Tên bài Vocab</label> 
								<input id="vocab_name" class="form-control" type = "text">

							</div>

							<div class="form-group col-md-6">
		                        <label for="imageVocab">File ảnh bài hướng dẫn:</label>
		                        <input type="file" class="form-control" id="file_imageVocab" name="file_imageVocab"
		                               accept="image/*" onchange="showMyImage(this)" required/>
		                        <img alt="" src="" class="" id="previewImage" style="height: 100px; width: 150px">
		                    </div>

		                    <div class="form-group col-md-12">
		                        <label for="imageQuestion">File ảnh câu hỏi:</label>
		                        <input type="file" class="form-control" id="file_imageQuestion" name="file_imageQuestion"
		                               required accept="image/*" multiple>
		                    </div>

		                    <div class="form-group col-md-12">
		                        <label for="fileNge">File nghe câu hỏi:</label>
		                        <input type="file" class="form-control" id="file_listen" name="file_listen" required multiple
		                               accept=".mp3,.org">

		                    </div>


		                    <div class="form-group col-md-12">
		                        <label for="fileExcel">File nội dung (Excel):</label>
		                        <input type="file" class="form-control" id="file_Excel" name="file_Excel" required
		                               accept=".xlsx,.xls">
		                    </div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                <button type="button" class="btn btn-primary" id="addNewVocab"> Xác nhận</button>
		                <button style="display:none;" type="button" class="btn btn-primary" id="updateVocab"> Cập nhật</button>
					</div>
				</div>
			</div>
		</div>
	</div>




</body>

</html>